.postItem {
  background-color: #3F5CC0CC;
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.postActions {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.postContent {
  display: flex;
  gap: 3rem;
}

.deleteBtn {
  padding: 0.5rem;
  border: none;
  background-color: #0D3D3066;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

.deleteBtn:hover {
  background-color: #031f17;
  color: #fff;
}