.form {
  background-color: #7d9fff;
  padding: 4.5rem;
}

.formInner {
  padding: 2rem;
  background-color: #3f5cc0cc;
  border-radius: 1rem;
  display: flex;
  gap: 0.8rem;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  background-color: #21322e21;
  gap: 1rem;
  padding: 0.5rem 1rem 1rem 1rem;
  margin-bottom: 1.5rem;
}

.formActions {
  text-align: right;
}

.publishBtn{
  padding: 0.5rem;
  border: none;
  background-color: #0D3D3066;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

.publishBtn:hover {
  background-color: #031f17;
  color: #fff;
}