:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
}

a {
  font-weight: 500;
  color: #090808CC;
  text-decoration: inherit;
  transition: all 0.3s ease;
}
a:hover {
  color: #96DCFF;
}

ul {
  list-style: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

